* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: "emily";
    src: url("fonts/EmilysCandy-Regular.ttf") format('TrueType');
    font-style: normal;
    font-weight: normal;
  }
body {
    background: tomato;

    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    font-weight: normal;

    display: grid;
    grid-template: 180px 1fr / 250px 1fr;
}
.header {
    background: salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 22px 36px 24px 26px;
}
.header-navbar-container,
.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.header .search-bar-container {
    flex: 3;
    
    display: flex;
    align-items: center;
    gap: 12px;
}
.name-stamp {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.user-icon-small,
.user-icon,
.user-icon img {
    border-radius: 50%;
}
.header .user-icon-small,
.header .bell,
.search-button input {
    width: 26px;
    height: auto;
}
.search-bar-container input,
div.search-button {
    display: inline;
}
.search-button input {
    background: url(image/search.png) no-repeat;
    background-size: 26px;
    background-position: 0;
    border: 0;
}

.search-bar {
    width: 80%;
    height: 28px;
    border: 0;
    border-radius: 6px;
}
.user-icon {
    width: 70px;
    height: auto;
}
.header-user-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.header-greeting .greeting {
    font-size: 1.1rem;
}
.header-greeting .user-name {
    font-family: emily;
    font-size: 1.4rem;
}
.header-user-content img {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;;
}
.header-nav {
    display: flex;
    gap: 18px;
}
.header-nav button {
    font-size: 14pt;
    padding: 10px 26px;
    border: 0;
    background-color: turquoise;
    border-radius: 25px;
}

.sidebar {
    background: turquoise;
    padding: 36px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #A63D00;

    grid-row: 1 / 3;

    display: grid;

    grid-template: repeat(12, 40px) / 40px 1fr;
    align-items: center;
    column-gap: 14px;
}
.sidebar img {
    width: 40px;
    height: auto;
}
.sidebar .dash-header {
    font-family: emily, serif;
    font-size: 18pt;
    font-weight: 700;
}
.sidebar img.dash-header {
    width: 70px;
    height: auto;
    position: relative;
    left: -20px;
}
.sidebar-gap {
    grid-column: 1 / 3;
}
.sidebar>div {
    display: flex;
    align-items: center;
    gap: 12px;
}
.sidebar div ~ div {
    padding-left: 6px;
}
.main-container {
    background: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 2fr 40px 1fr;
}
.main-container .projects {
    background: palegreen;
}
.main-container .projects.grid {
    background: darksalmon;
    grid-row: 2 / 5;

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.main-container .projects.grid img {
    width: 50px;
}
.main-container .content-header {
    font-weight: 700;
}
.main-container .announcements {
    background: palevioletred;
}
.main-container .trending {
    background: paleturquoise;
}
.main-container .user-container {
    display: grid;
    grid-template-rows: 35px 35px;
    grid-template-columns: 75px 1fr;
}
.main-container .user-icon {
    grid-row: 1 / 3;
    background: blue;
}
.main-container .user-icon img {
    width: 50px;
}
