* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: "emily";
    src: url("fonts/EmilysCandy-Regular.ttf") format('TrueType');
    font-style: normal;
    font-weight: normal;
  }
body {

    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    font-weight: normal;

    display: grid;
    grid-template: 180px 1fr / 250px 1fr;
}
.header {
    background: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 22px 36px 24px 26px;
}
.header-navbar-container,
.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.header .search-bar-container {
    flex: 3;
    
    display: flex;
    align-items: center;
    gap: 12px;
}
.name-stamp {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.user-icon-small,
.user-icon,
.user-icon img {
    border-radius: 50%;
}
.header .user-icon,
.header .user-icon-small,
.header-nav button {
    filter: drop-shadow(2px 2px 4px #c95614);
}
.header .user-icon-small,
.header .bell,
.search-button input {
    width: 26px;
    height: auto;
}
.search-bar-container input,
div.search-button {
    display: inline;
}
.search-button input {
    background: url(image/search.png) no-repeat;
    background-size: 26px;
    background-position: 0;
    border: 0;
}
.search-bar {
    width: 80%;
    height: 28px;
    border: 0;
    border-radius: 6px;
}
.user-icon {
    width: 70px;
    height: auto;
}
.header-user-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.header-greeting .greeting {
    font-size: 1.1rem;
}
.header-greeting .user-name {
    font-family: emily;
    font-size: 1.4rem;
}
.header-user-content img {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;;
}
.header-nav {
    display: flex;
    gap: 18px;
}
.header-nav button {
    font-size: 14pt;
    padding: 10px 26px;
    border: 0;
    background-color: turquoise;
    border-radius: 25px;
}
.sidebar {
    background: turquoise;
    padding: 36px;
    font-size: 1.2rem;

    grid-row: 1 / 3;

    display: grid;

    grid-template: repeat(12, 40px) / 40px 1fr;
    align-items: center;
    column-gap: 14px;
}
.sidebar img {
    width: 40px;
    height: auto;
}
.sidebar .dash-header {
    font-family: emily, serif;
    font-size: 18pt;
    font-weight: 700;
}
.sidebar img.dash-header {
    width: 70px;
    height: auto;
    position: relative;
    left: -20px;
}
.sidebar-gap {
    grid-column: 1 / 3;
}
.sidebar>div {
    display: flex;
    align-items: center;
    gap: 12px;
}
.sidebar div ~ div {
    padding-left: 6px;
}
.main-container {
    padding: 0px 30px 32px 28px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px auto 40px auto;
    column-gap: 16px;
}
.projects,
.announcements,
.trending {
    margin-top: 20px
}
.main-container .content-header {
    color: #e4af00
}
.content-header {
    font-size: 1.5rem;
    font-weight: 700;
}
.announcements .content-header {
    color: salmon;
}
.trending .content-header {
    color: darkturquoise;
}
.main-container .projects.grid {
    grid-row: 2 / 5;

    display: grid;
    grid-template: repeat(3, auto) / 1fr 1fr;
    gap: 12px;
}
.card {
    border-radius: 8px;
}
.projects .card {
    background-color: rgb(255, 215, 114);
    overflow: hidden;
    display: grid;
    grid-template: 100% / 8px auto;
}
.stripe {
    background: lightsalmon;
}
.card-content {
    padding: 12px 26px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 50px auto 40px;
}
.card-content h3 {
    align-self: end;
}
.social-btns {
    justify-self: flex-end;
}
.main-container .projects.grid img {
    width: 36px;
}
.announcements.grid,
.trending.grid {
    font-size: .95rem;
    padding: 18px 22px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.announcements.grid {
    background: lightsalmon;
}
.trending.grid {
    background: turquoise;
}
.news-item:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 3px dotted #ca4a00;
}
.trending .user-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 75px auto;
}
.trending .user-icon {
    grid-row: 1 / 3;
    position: relative;
    left: -8px;
}
.trending .user-icon img {
    width: 100%;
    filter: drop-shadow(2px 2px 5px darkcyan);
}
.trending .user-handle {
    font-weight: 700;
    align-self: end;
}
