* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: tomato;
    display: grid;
    grid-template: 200px 1fr / 250px 1fr;
}

.header {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-search-container img {
    width: 25px;
    height: auto;
}
.header-nav-container img { /* Placeholder: delete/replace later */
    width: 50px;
    height: 50px;
}
.header .header-search-container { /* Placeholder: delete/replace later */
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-nav-container {
    background: palegoldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-user-content {
    background: purple;
    display: grid;
    grid-template-rows: 1fr auto-fit;
    grid-template-columns: 1fr 2fr;
}
.header-user-content img {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;;
}
.header-nav {
    background: salmon;
}
.header-nav ul {
    display: flex;
    gap: 20px;
}
.header-nav li {
    display: inline;
}
.sidebar {
    background: skyblue;
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    grid-template-rows: 70px repeat(6, 40px) 70px repeat(2, 40px);
}
.sidebar img { /* placeholder images fix later */
    width: 30px;
    height: auto;
}
.sidebar .dash-header {
    font-weight: 700;
}

.main-container {
    background: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 2fr 40px 1fr;
}
.main-container .projects {
    background: palegreen;
}
.main-container .projects.grid {
    background: red;
    grid-row: 2 / 5;
}
.main-container .content-header {
    font-weight: 700;
}
.main-container .announcements {
    background: palevioletred;
}
.main-container .trending {
    background: paleturquoise;
}